%br
= simple_form_for @application do |app|
  .container.text-center
    .panel.panel-default
      .panel-heading Część 1 - podstawowe informacje o wnioskodawcy
      .panel-body
        .row
          .col-md-6
            = app.input :requesting_organization, label: "Organizacja wnioskująca"
          .col-md-6
            = app.input :name, label: "Nazwa organizacji"
        .row
          %h4.text-center Koszty projektu
          .col-md-4
            = app.input :amount_applied_for, label: "Kwota wnioskowana"
          .col-md-4
            = app.input :amount_other_sources, label: "Kwota z innych źródeł"
          .col-md-4
            = app.input :amount_overall, label: "Kwota ogółem"
